body{
   color: rgb(59, 57, 57);
   font-family: Arial, Helvetica, sans-serif;
   background-color: whitesmoke;
   line-height: 1.5;
}
@media (min-width: 50em){
   #container{
      display: grid;
      grid-template-columns: 18em auto;
      
   }
   #navbar{
      position: fixed;
      top: 0;
      width:18em;
      height: 43em;
   }
   #navbar-list{
      height: 38em;
   }
}
@media (max-width: 50em){
     #navbar-list{
        height: 15em;
     }
}
a {
   text-decoration: none;
}

#navbar{
    display: grid;  
    
 }
 #navbar-list{
   overflow-y: scroll;
   background-color: #93aabd;
 }
 #navbar ul{
    list-style: none;
    display: grid;
    padding-left: 0px;
    grid-gap: 1px;
    text-align: center;
 }
 #navbar ul li{
    height: 2em;
    font-size: 1.2rem;
    padding-top: 10px;  
    background-color: whitesmoke;
 }
 #navbar ul li:hover{
    background-color: rgb(235, 225, 225);
 }
 #navbar ul li a{
   color:#061d2e;
 }
 #navnar-header{
     text-align: center;
     background-color: whitesmoke;
     color: #1c4d70;
 }
 #main-doc{
    grid-column: 2;
    border-left: solid #1c4d70;
 }
 #main-doc, #main-doc h4{
    padding-left: 0.7rem;
 }
 #main-doc p{
   padding-left: 1rem;
 }
 #main-doc ul{
    padding-left: 2.4rem;
 }
 .code-block{
    display: block;
    margin: 20px;
    padding:5px;
    background-color: #F7F7F7;
    font-size: 1.1rem;
    color:rgb(134, 128, 128);
    border: 1px solid #1c4d70;
 }
 .inline-code{
   background-color: #F7F7F7;
   font-size: 1.1rem;
   color:rgb(134, 128, 128);
 }
 #main-doc h1, #main-doc h4{
    color: #1c4d70;
 }

 #main-doc a{
    color: rgb(61, 57, 57);
    font-weight: bold;
 }
 #main-doc a:hover{
   text-decoration: underline;
   
}

 

